* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

input, textarea {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}